/* GLOBAL */
/* Custom Header Gradient background */
body.clickup-theme[data-dashboard-version="2"] .cu2-header .cu2-header__left::before,
body.clickup-theme[data-dashboard-version="2"] .cu2-header .cu2-header__left::after,
body.clickup-theme[data-dashboard-version="2"] .cu2-header .cu2-header__right::before,
body.clickup-theme[data-dashboard-version="2"] .cu2-header .cu2-header__right::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: none;
}
body.clickup-theme[data-dashboard-version="2"] .cu2-header .cu2-header__left::before {
    background: linear-gradient(to bottom right,rgba(248, 0, 231,1) 0%,rgba(248, 0, 231,0) 50%);
		z-index: -1;
}
body.clickup-theme[data-dashboard-version="2"] .cu2-header .cu2-header__left::after {
    background-image: linear-gradient(to top right, rgba(138, 0, 251,1) 0%, rgba(138, 0, 251,0) 50%);
		z-index: -2;
}
body.clickup-theme[data-dashboard-version="2"] .cu2-header .cu2-header__right::before {
    background: linear-gradient(to bottom left,rgba(248,195,36,1) 0%,rgba(248,195,36,0) 50%);
		z-index: -1;
}
body.clickup-theme[data-dashboard-version="2"] .cu2-header .cu2-header__right::after {
    background-image: linear-gradient(to top left, rgba(101, 193, 248, 1) 0%, rgba(101, 193, 248, 0) 50%);
		z-index: -2;
}
body.clickup-theme[data-dashboard-version="2"] .cu2-header .cu2-header__right {
    padding-right: 10px;
    right: -10px;
}
/* Dark mode */
body.clickup-theme.dark-theme[data-dashboard-version="2"] .cu2-header .cu2-header__left::after,
body.clickup-theme.dark-theme[data-dashboard-version="2"] .cu2-header .cu2-header__right::after {
    background-image: none;
}
body.clickup-theme.dark-theme[data-dashboard-version="2"] .cu2-header__container {
		/*background: linear-gradient(to right, rgb(138, 0, 251) 0%, var(--theme-main-header-color) 50%, rgb(101, 193, 248) 100%)*/
    background-image: linear-gradient(to right, rgb(138, 0, 251) 0%, var(--theme-main-header-color) 25%, var(--theme-main-header-color) 75%, rgb(101, 193, 248) 100%);
}
body.clickup-theme.dark-theme[data-dashboard-version="2"] .cu2-header__btn,
body.clickup-theme.dark-theme[data-dashboard-version="2"] .nav-favorites-toggle,
body.clickup-theme.dark-theme[data-dashboard-version="2"] .notifications-alert,
body.clickup-theme.dark-theme[data-dashboard-version="2"] .cu-header-quick-switcher,
body.clickup-theme.dark-theme[data-dashboard-version="2"] .cu2-search {
    background-color: rgba(255,255,255,.2)
}
body.clickup-theme.dark-theme[data-dashboard-version="2"] .cu2-header__btn:hover,
body.clickup-theme.dark-theme[data-dashboard-version="2"] .nav-favorites-toggle:hover,
body.clickup-theme.dark-theme[data-dashboard-version="2"] .notifications-alert:hover,
body.clickup-theme.dark-theme[data-dashboard-version="2"] .cu-header-quick-switcher:hover,
body.clickup-theme.dark-theme[data-dashboard-version="2"] .cu2-search:hover {
    background: white;
}
body.clickup-theme.dark-theme[data-dashboard-version="2"] .cu2-header__btn_active {
    background-color: #1e272e;
}
body.clickup-theme.dark-theme[data-dashboard-version="2"] .cu2-nav-favorites-item__item_selected,
body.clickup-theme.dark-theme[data-dashboard-version="2"] .cu2-nav-favorites-item__item_selected:hover {
    background: #2b343b
}
body.clickup-theme.dark-theme[data-dashboard-version="2"] .notifications-alert__dot {
		border-color: rgb(101,193,248) !important;
}
body.clickup-theme.dark-theme[data-dashboard-version="2"] .notifications-alert_active use {
    fill: white;
    stroke: white;
}
body.clickup-theme.dark-theme[data-dashboard-version="2"] a.notifications-alert_active {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    height: 24px;
    margin-top: 0px;
    padding-bottom: 0px;
}
body.clickup-theme.dark-theme[data-dashboard-version="2"] .notifications-alert_active:hover use {
    fill: var(--theme-main-color);
    stroke: var(--theme-main-color);
}

/* Custom Task backdrop gradient bg */
body.clickup-theme[data-dashboard-version="2"] cu-task-keeper .task-backdrop {
    --theme-backdrop-opacity: 0.2;
    background-image: linear-gradient(to right, rgba(248,0,231,var(--theme-backdrop-opacity)) 0%, rgba(248,195,36,var(--theme-backdrop-opacity)) 100%);
}
body.clickup-theme[data-dashboard-version="2"] cu-task-keeper .task-backdrop::before,
body.clickup-theme[data-dashboard-version="2"] cu-task-keeper .task-backdrop::after {
    content: "";
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
body.clickup-theme[data-dashboard-version="2"] cu-task-keeper .task-backdrop::before {
    background-image: linear-gradient(to top right, rgba(138,0,251,var(--theme-backdrop-opacity)) 0%, rgba(138,0,251,0) 50%);
}
body.clickup-theme[data-dashboard-version="2"] cu-task-keeper .task-backdrop::after {
    background-image: linear-gradient(to top left,rgba(101,193,248,var(--theme-backdrop-opacity)) 0%, rgba(101,193,248,0) 50%);
}
body.clickup-theme.dark-theme[data-dashboard-version="2"] cu-task-keeper .task-backdrop {
    --theme-backdrop-opacity: 0.6;
}


/* Dashboard 4.0 Colored favorites */
body.dash4-colored-faves[data-dashboard-version="4"] .cu-nav-favorites-bar {
    background: var(--theme-main-header-color);
    position: relative;
}
body.dash4-colored-faves[data-dashboard-version="4"] .cu-nav-favorites-bar__title.cu-nav-favorites-bar__title_v4 {
    color: #fff;
}
body.dash4-colored-faves[data-dashboard-version="4"] .cu2-nav-favorites-item_bar .cu2-nav-favorites-item__item.cu2-header__btn {
    transition: background-color .2s cubic-bezier(.785,.135,.15,.86) 0s;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    height: 24px;
    border-radius: 3px;
    padding: 0 10px;
    background-color: rgba(255,255,255,.25);
    cursor: pointer;
    min-width: 0;
}
body.dash4-colored-faves[data-dashboard-version="4"] .cu2-nav-favorites-item_bar .cu2-nav-favorites-item__item.cu2-header__btn:hover,
body.dash4-colored-faves[data-dashboard-version="4"] .cu2-nav-favorites-item_bar .cu2-nav-favorites-item__item.cu2-header__btn_active {
    background-color: #fff;
}
body.dash4-colored-faves[data-dashboard-version="4"] .cu2-nav-favorites-item_bar .cu2-nav-favorites-item__item .cu2-nav-favorites-item__item-name-label {
    color: #fff;
}
body.dash4-colored-faves[data-dashboard-version="4"] .cu2-nav-favorites-item__item:not(.cu2-nav-favorites-item__item_selected):hover,
body.dash4-colored-faves[data-dashboard-version="4"] .cu2-nav-favorites-item__item:not(.cu2-nav-favorites-item__item_selected):hover .cu2-nav-favorites-item__item-name,
body.dash4-colored-faves[data-dashboard-version="4"] .cu2-nav-favorites-item__item:not(.cu2-nav-favorites-item__item_selected):hover .cu2-nav-favorites-item__item-name-label {
    color: var(--theme-main-color);
}
body.dash4-colored-faves[data-dashboard-version="4"] .cu2-nav-favorites-item_bar .cu2-nav-favorites-item__item.cu2-nav-favorites-item__item_selected .cu2-nav-favorites-item__item-name-label {
    color: var(--theme-main-color);
}
body.dash4-colored-faves[data-dashboard-version="4"].dark-theme .cu2-nav-favorites-item_bar .cu2-nav-favorites-item__item_selected.cu2-header__btn {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding-bottom: 0;
    height: 24px;
    margin-top: 0;
    background-color: #1e272e;
}
body.dash4-colored-faves[data-dashboard-version="4"].dark-theme .cu2-nav-favorites-item_bar .cu2-nav-favorites-item__item_selected.cu2-header__btn .cu2-nav-favorites-item__item-name-label {
    color: #fff;
}
body.dash4-colored-faves[data-dashboard-version="4"] .cu2-nav-favorites-item_bar .cu2-nav-favorites-item__item_selected.cu2-header__btn {
    background: white;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    height: 32px;
    margin-top: 8px;
    padding-bottom: 8px;
    cursor: default;
}
body.dash4-colored-faves[data-dashboard-version="4"] .cu-nav-favorites-bar__unpin.icon {
    fill: #fff;
}
body.dash4-colored-faves[data-dashboard-version="4"] .cu-nav-favorites-bar__unpin.icon:hover {
    background: #fff;
    fill: var(--theme-main-color);
    border-radius: 3px;
}

/* Make list view w/breadcrumbs and subtasks more usable */
body.clean-breadcrumbs .cu-task-row__main-icon-subtask {
    order: 3;
}
body.clean-breadcrumbs .cu-inbox-page .cu-task-row-date-picker__dual-dates {
    order: 4;
}
body.clean-breadcrumbs .cu-task-row .cu-task-row-main {
    flex-direction: row;
    flex-wrap: wrap;
}
body.clean-breadcrumbs .cu-task-row-main .cu-task-row-breadcrumbs {
    flex-grow: 0;
    display: flex;
    width: auto;
    padding-right: 10px;
    padding-top: 5px;
}
body.clean-breadcrumbs .cu-task-row-main .cu-task-row-main__link {
    flex-basis: 100%;
    height: auto;
}
body.clean-breadcrumbs .cu-task-row-main__parent-name {
    display: flex;
    flex-grow: 1;
    border-left: 1px solid rgba(52,52,52,.4);
    padding-left: 5px;
    padding-top: 2px;
    margin-top: 4px;
}
body.clean-breadcrumbs.dark-theme .cu-task-row-main__parent-name {
    border-left-color: rgba(130,133,136,.4);
}
body.clean-breadcrumbs .cu-task-row-breadcrumbs ul {
    display: inline-block;
}
body.clean-breadcrumbs .cu-task-row-main .cu-task-row-breadcrumbs ul a {
    color: var(--theme-main-color-light);
    font-size: 90%;
}
body.clean-breadcrumbs .cu-task-row-main .cu-task-row-breadcrumbs ul > li:first-child a {
    color: var(--theme-main-color);
}
body.clean-breadcrumbs.dark-theme .cu-task-row-main .cu-task-row-breadcrumbs ul a {
    color: var(--theme-main-color);
}
body.clean-breadcrumbs.dark-theme .cu-task-row-main .cu-task-row-breadcrumbs ul > li:first-child a {
    color: var(--theme-main-color-light);
}

/* Better visibility in status labels */
body.visible-status cu-task-list .cu-dashboard-table__header-status {
    border-bottom: 1px transparent;
    background-image: linear-gradient(rgba(128,128,128, 0.35) 0%, rgba(128,128,128, 0) 90%) !important;
    background-blend-mode: luminosity;
}

/* Wide Box view Me Mode */
body.wide-box-mode  .cu-dashboard-box__scroll_me-mode .cu-user-box {
    width: 100%;
    max-width: 100%;
    height: auto;
}
body.wide-box-mode  .cu-dashboard-box__scroll_me-mode  .cu-user-box__scroll {
    max-height: none;
}

body.wide-box-mode .cu-dashboard-box__scroll_me-mode .cu-workload-box {
    display: none;
}

/* Compact Status Groups in List View */
body.compact-status-group .cu-task-list-footer {
    display: none;
}
body.compact-status-group .cu-task-list:last-child .cu-task-list-footer {
    display: flex;
}
body.compact-status-group .cu-task-list-header__item_main {
    padding-top: 0;
}
body.compact-status-group .cu-task-list-header__items {
    margin-top: 0;
}
body.compact-status-group .cu-task-list-header-settings .cu-dropdown .cu-task-list-header-settings__add {
    margin-top: 0;
}

/* for blurring tasks for screenshots */
/*.cu-task-row-main__link-inner {filter: blur(3px);}*/

